.margininvestor{
    margin-top: 10em;
}


.contmargin{
    margin-bottom: 130px;
    margin-left:50px;
   
   
}

.tablestyle{
    background-color:rgba(230, 230, 230, 0.493);
    border-radius: 1.5em;
    border-color: blue;
    outline-style: none;
    width:93%;

    
}