.orgchart {
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 12px;
  display: inline-block;
  border: 1px;
  font-size: 2.5vmin;
  background-color: rgba(150, 194, 214, 0.849);

 
}

.orgNi{
  padding-right: 200px;
  padding-left: 200px; 
}

.chart{
    height:100%;
    width:100%
}

.margincorpo{
  margin-top: 90px;
  margin-bottom: 50px;

}

.marginorg{
  margin-top: 90px;
  margin-bottom: 60px;
}