.bghome{
    background-image: url("../../Assets/homebg.png");
    height:660px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding:0;
    margin:0;
   

}